streamlit
langchain
langchain-groq
langchain-community
langchain_experimental
bs4
langchain-openai
faiss-cpu
pypdf
youtube_transcript_api	
pytube
openai
fal-client
pytesseract
tabulate
pydantic
reportlab
langchain-google-genai
